<div class="container-fluid text-center mb-5">
  <div class="row bg-dark">

    <div class="col-md-6">
      <a href="./assets/aide.html">
        <i class=" fa-solid fa-handshake-angle fa-flip"></i>
        <br>
        Aide au Enigme
      </a>
    </div>

    <div class="col-md-6">
      <a class="txt-dark " href="proposer.html">
        <i class=" fa-solid fa-plus-minus fa-flip"></i>
        <br>
        Page Proposer
      </a>
    </div>

  </div>
</div>