<!-- Fixed navbar partial-->
<nav>
    <div>
        <a href="#">Enigma-Tic</a>
        <button type="button" class="collapse">

        </button>
        <div>
            <ul>
                <li>
                    <a aria-current="page" href="#">Acceuil</a>

                </li>
                <li class="dropDown">
                    <a href="#" role="button" aria-expanded="false">Enigmes & solutions  </a>
                    <ul class="dropDown-menu">
                        <li><a href="./">Facile</a></li>
                        <li><a href="/">Normal</a></li>
                        <li><a href="/">Difficile</a></li>
                        <li><a href="/">Devinettes</a></li>
                        <li><a href="/">Le sage</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Dingbats</a>
                </li>
                <li>
                    <a href="">Proposer</a>
                </li>
                <li>
                    <a class="disable" href="">Bonne visite sur le site</a>
                </li>
            </ul>
            <form role="search">
                <input type="search" placeholder="Rechercher">
                <button type="submit">Recherche</button>
            </form>
            <button type="button">Connexion</button>
            <button type="button">S'enregister</button>
        </div>
    </div>
</nav>