<!-- Fixed navbar partial-->
<nav>
    <div>
        <a href="#">Enigma-Tic</a>
        <button type="button" class="collapse">

        </button>
        <div>
            <ul>
                <li>
                    <a aria-current="page" href="index.html">Acceuil</a>

                </li>
                <li class="dropDown">
                    <a href="#" role="button" aria-expanded="false">Enigmes & solutions  </a>
                    <ul class="dropDown-menu">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>