<div class="col-md-12 bg-warning">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="txt-center">Proposer une enigme</h1>
<p>
    Vous pouvez nous proposer votre énigme avec la solution en remplissant le formulaire ci-dessous.
(Si vous ne souhaitez pas que votre nom soit cité, merci de le préciser anonymus)
</p>
<div class="col-md-12">
      <div class="col-md-5 container">
        <h4 class="mt-2 text-center  text-uppercase fw-bold">Contactez-nous !</h4>
        <div class="col-md-12 bg-primary">



          <form class="opacity-75 p-1 border border-dark">
            <div class="col-md-12">
              <div class="mb-6">
                <label for="exampleInputEmail1" class="form-label">Votre nom (ou pseudo)*</label>
                <input type="email" class="border border-dark form-control" placeholder="Nom" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-6">
                <label for="exampleInputPassword1" class="form-label">Votre email*</label>
                <input type="nom" class="border border-dark form-control" placeholder="Mail@exemple.fr" id="exampleInputPassword1">
              </div>
            </div>

            <p>Catgorie de l'enigme<br />
              <span class=" wpcf7-form-control-wrap menu-742"><select name="menu-742"
                  class="form-control border border-dark wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true"
                  aria-invalid="false">
                  <option value="Facile">Facile</option>
                  <option value="Normal">Normal</option>
                  <option value="Difficlie">Difficlie</option>
                  <option value="Devinettes">Devinettes</option>
                  <option value="le sage">Le sage</option>
                  
                </select>
              </span>
            </p>
            <div class="container">
              <div class="row">
                <textarea name="Votre message ici" placeholder="Votre Enigme" id="" cols="70" rows="5"></textarea>
                <textarea class="mt-2" name="Votre message ici" placeholder="Votre Solution" id="" cols="70"
                  rows="5"></textarea>

              </div>
              <div class="container">
                <div class="row d-flex justify-content-center">
                  <button type="submit" class=" mt-2 w-25 btn btn-dark border border-light">Envoyer</button>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
</div>
</div>
