<div class="container-fluid h-50">
    <div class="bg-locked h-100 row ">
      <div class="d-flex opacity-50 bg-black bg-primary col-md-6 text-center">
        <p class="d-flex align-items-center  opacity-100 fw-bold h-100 text-light ">
          Enigma-Tic est un site qui propose des énigmes avec leurs solutions. Classées dans des catégories afin de
          mieux s'y retrouver, il y en a pour tous les goûts et pour tous les niveaux avec des devinettes simples mais
          aussi des énigmes difficiles. Créé en 2022, Enigma-Tic vous propose d'envoyer vos énigmes afin de faire vivre
          cette petite communauté. Amusez-vous bien !
        </p>
      </div>
      <div class="opacity-25 bg-primary col-md-6"></div>
    </div>
  </div>