<!-- sous l'image -->
<div class="py-3 container-fluid bg-success">
  <div class="row container-fluid">
    <div class="col-md-5 bg-dark d-flex align-items-center border border-light">
      <p>
        Une sélection d'énigme vous est proposée ci-après , amusez bien quelques petits conseils :<br>
        Si vous doutez du résultat passer à une autre énigme <br>
        N'hésitez pas à prendre des notes ! <br>
        Ne pas tricher, ne vous brusquez pas prenner votre temps c'est un espace de détente. <br>
        lisez bien certaines réponses sont là où vous ne le  soupçonniez même pas.

      </p>
    </div>
    <div class="col-md-7">
      <div class="col-md-12 align-items-center">

        <h4 class="mt-2  text-center text-uppercase fw-bold">Voici une selection d'enigmes</h4>
        <div id="carouselExampleCaptions" class="border border-dark carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active " data-bs-interval="4000">
              <img src="/assets/images/verre-eau.jpg" class="d-block w-100" alt="...">
              <div class="bg-dark carousel-caption d-none d-md-block ">
                <a href="">
                  <h5>Le verre d'eau</h5>
                </a>

                <p>Combien peut t'on mettre ....</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
              <img src="/assets/images/chapeau-etudiant.jpg" class=" h-100 d-block w-100" alt="...">
              <div class="bg-dark carousel-caption d-none d-md-block">
                <a href="">
                  <h5>L'enigme de Stanford</h5>
                </a>
                <p>cette enigme fut posée au étudiants de l'université de ....</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
              <img src="/assets/images/nenufar.jpg" class="d-block w-100" alt="...">
              <div class="bg-dark carousel-caption d-none d-md-block">
                <a href="">
                  <h5>Le nénuphar géant</h5>
                </a>
                <p>Un nénuphar se trouvant dans un lac ....</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class=" carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class=" carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </div>
  
  </div>
</div>